In [2]:
from scipy import stats
import numpy as np
import pandas as pd

In [11]:
session_times = pd.read_csv("../data/web_page_data.csv")
session_times.Time = 100 * session_times.Time
session_times.head()

     Page   Time
0  Page A   21.0
1  Page B  253.0
2  Page A   35.0
3  Page B   71.0
4  Page A   67.0

In [12]:
res = stats.ttest_ind(session_times[session_times.Page == 'Page A'].Time, 
                      session_times[session_times.Page == 'Page B'].Time,
                      equal_var=False)
print(f'p-value for single sided test: {res.pvalue / 2:.4f}')

p-value for single sided test: 0.1408

In [7]:
res

TtestResult(statistic=np.float64(nan), pvalue=np.float64(nan), df=np.float64(nan))